html,body {
  font-family:Georgia, "Times New Roman",
          Times, serif;
  background-color:	#FDF5E6;}

.h{font-family: Georgia, "Times New Roman",
        Times, serif;
  color:#FFFAFA；
}

.carousel img{
  width: 100%
  height:100%
}

.btn-info{
  background-color: #6648b1;
  border:1px solid #6648b1;
}

.btn-info:hover{
  background-color: #563b7c;
    border:1px solid #563b7c;
}

footer{
  background-color: #F5F5F5	;
  color:	#000000;
  padding-top:2rem;
}


a{
    text-decoration: none;
    color: #000000;
}
ul{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 21px;
}
li:last-child{
    margin: 0;
}

a{
    text-decoration: none;
    color: #000000;
}
ul{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 21px;
}
li:last-child{
    margin: 0;
}

.light{
  border-top:1px solid #d5d5d5;
  width:75%;
}

text-justify{
  margin-left: ($spacer * .25) !important;
}
