body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color:lightblue }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
  a:hover{
    color:black;
    border:solid red;
    background:lightblue
  }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

img 0.jpg
  {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1
  }

  .zIndexOne{
    z-index: 1;background-color:Red
  }
  .zIndexTwo{
    z-index:2;background-color:Yellow
    left:40px;top:40px;
  }
  .zIndexThree{
    z-index:3;background-color:blue
    left:80px;top:80px;
  }
  .zIndexFour{
    z-index:4;background-color:Green
    left:120px;top:120px;
  }
  </style>
